* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header, footer {
    text-align: center;
    background-color: rgb(162, 128, 240);
    color: #fff;
    padding: 10px;
}

main {
    padding: 20px;
    background-color: rgb(23, 116, 146);
}

#loading {
    font-size: 20px;
    font-weight: bold;
    margin: 20px 0;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
    background-color: #ffffff;
}

th, td {
    padding: 8px;
    text-align: left;
    border: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}